In [1]:
import pandas as pd
#Assign data
data={'Name':['Sai','Yuvasri','Poovannan',
'Sabharish','Sangamithra','Rithika','Rubasri'],
'Age':[20,18,19,20,18,17,19],
'Gender':['M','F','M','M','F','F','F'],
'Marks':[90,76,'NaN',74,65,'NaN',71]}
#convert into datafram
df=pd.DataFrame(data)
#display data
print("Original DataFrame:\n",df)
#convert average
c=avg=0
for ele in df['Marks']:
  if str(ele).isnumeric():
     c+=1
     avg+=ele
     avg/=c
#Replace missing values
df=df.replace(to_replace="NaN",value=avg)
#Display data
print("\nReplacing NaN with average marks:\n",df)

Original DataFrame:
           Name  Age Gender Marks
0          Sai   20      M    90
1      Yuvasri   18      F    76
2    Poovannan   19      M   NaN
3    Sabharish   20      M    74
4  Sangamithra   18      F    65
5      Rithika   17      F   NaN
6      Rubasri   19      F    71

Replacing NaN with average marks:
           Name  Age Gender      Marks
0          Sai   20      M  90.000000
1      Yuvasri   18      F  76.000000
2    Poovannan   19      M  20.066667
3    Sabharish   20      M  74.000000
4  Sangamithra   18      F  65.000000
5      Rithika   17      F  20.066667
6      Rubasri   19      F  71.000000

<ipython-input-1-2e5b2dcb3409>:20: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df=df.replace(to_replace="NaN",value=avg)

In [2]:
#Filter top scoring students
df=df[df['Marks']>=75]

#Remove age row
df=df.drop(['Age'],axis=1)

#Display data
print("\nFiltering and Dropping func:\n",df)

Filtering and Dropping func:
       Name Gender  Marks
0      Sai      M   90.0
1  Yuvasri      F   76.0

In [3]:
one = pd.DataFrame({
'Name':['Sai','Sub','Poo','Yuvasri','Rithika'],
'subject_id':['sub1','sub2','sub4','sub6','sub5'],
'Marks_scored':[98,95,96,92,88]},
index=[1,2,3,4,5])
two=pd.DataFrame({
'Name':['Sanjay','Sangamithra','Rubasri','Nikesh','Somanath'],
'subject_id':['sub2','sub4','sub3','sub6','sub5'],
'Marks_scored':[86,95,87,99,91]},
index=[1,2,3,4,5])
print("\nOriginal DataFrame 1:\n",one)
print("\nOriginal DataFrame 2:\n",two)
print(pd.concat([one,two]))

Original DataFrame 1:
       Name subject_id  Marks_scored
1      Sai       sub1            98
2      Sub       sub2            95
3      Poo       sub4            96
4  Yuvasri       sub6            92
5  Rithika       sub5            88

Original DataFrame 2:
           Name subject_id  Marks_scored
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91
          Name subject_id  Marks_scored
1          Sai       sub1            98
2          Sub       sub2            95
3          Poo       sub4            96
4      Yuvasri       sub6            92
5      Rithika       sub5            88
1       Sanjay       sub2            86
2  Sangamithra       sub4            95
3      Rubasri       sub3            87
4       Nikesh       sub6            99
5     Somanath       sub5            91