In [4]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['poo',70]])
column=['EMP','ID']
print(d2)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
     0   1
0  sai  88
1  poo  70

In [10]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['poo',70]],columns=['EMP','ID'])
print(d2)
d2['Age']=[20,18]
print(d2)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7
   EMP  ID
0  sai  88
1  poo  70
   EMP  ID  Age
0  sai  88   20
1  poo  70   18

In [13]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))
d2=pd.DataFrame([['sai',88],['poo',70]],columns=['EMP','ID'])
print(" ")
print(d2)
d2['Age']=[20,18]
print(" ")
print(d2)
d=d2.assign(Sex=['Male','Male'])
print(" ")
print(d)

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

   EMP  ID
0  sai  88
1  poo  70

   EMP  ID  Age
0  sai  88   20
1  poo  70   18

   EMP  ID  Age   Sex
0  sai  88   20  Male
1  poo  70   18  Male

In [17]:
import numpy as np
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

       col3      col4
3 -0.179027  0.385880
2 -0.041545 -0.875879
0  0.259552 -0.971461
4 -0.786138 -0.654678
1 -0.445443  0.603115

In [19]:
import numpy as np
import pandas as pd
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
info2=info.sort_index()
info3=info.sort_values(by='col3')
print(info3)

       col3      col4
1 -0.305512  0.327760
3 -0.124892  0.877228
0  0.626376  0.401257
4  1.095041  0.172045
2  1.545211 -1.465063

In [24]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3],'Name':['sai','bala','kar']})
right=pd.DataFrame({'id':[1,2,3],'AGE':[29,20,34],'SALARY':[200,300,400]})
print(pd.merge(left,right,on='id'))

   id  Name  AGE  SALARY
0   1   sai   29     200
1   2  bala   20     300
2   3   kar   34     400