In [11]:
import pandas as pd
import numpy as np
from datetime import datetime

dates = [datetime(2011, 1, 2),
         datetime(2011, 1, 5),
         datetime(2011, 1, 7),
         datetime(2011, 1, 8),
         datetime(2011, 1, 10),
         datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index\n",ts)

Date Index
 2011-01-02    0.725546
2011-01-05    0.353132
2011-01-07   -2.165002
2011-01-08    0.475320
2011-01-10    0.626754
2011-01-12   -0.456024
dtype: float64

In [13]:
print("\nDate Index alone from the series: \n", ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [19]:
stamp = ts.index[2]
print("Second index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [37]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range("2000-01-01", periods=1000))
print("Daterange up to 1000 days:\n", longer_ts)

Daterange up to 1000 days:
 2000-01-01    0.730180
2000-01-02   -0.982007
2000-01-03    1.154719
2000-01-04    1.434070
2000-01-05    0.935927
                ...
2002-09-22    1.481935
2002-09-23   -0.953361
2002-09-24    0.025972
2002-09-25    1.452745
2002-09-26   -0.083951
Freq: D, Length: 1000, dtype: float64

In [33]:
print("Date range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    0.934652
2001-01-02   -1.832830
2001-01-03   -1.498950
2001-01-04    2.243816
2001-01-05    1.501438
                ...
2001-12-27   -0.391138
2001-12-28   -0.769200
2001-12-29    0.031056
2001-12-30   -0.909144
2001-12-31    0.768842
Freq: D, Length: 365, dtype: float64

In [35]:
print("Date range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01   -0.863879
2001-05-02   -0.290788
2001-05-03    1.491058
2001-05-04   -0.029414
2001-05-05    1.643241
2001-05-06    1.256996
2001-05-07   -0.066264
2001-05-08   -0.924816
2001-05-09   -1.470116
2001-05-10   -0.236567
2001-05-11   -0.997112
2001-05-12    0.191841
2001-05-13   -0.584402
2001-05-14   -0.936163
2001-05-15    0.725454
2001-05-16    0.417107
2001-05-17    0.155361
2001-05-18   -0.183194
2001-05-19    2.683345
2001-05-20   -0.668096
2001-05-21   -0.379192
2001-05-22   -1.267038
2001-05-23    0.529543
2001-05-24    0.300035
2001-05-25   -1.256758
2001-05-26    0.111423
2001-05-27    0.898907
2001-05-28    0.479359
2001-05-29    0.160806
2001-05-30    0.747379
2001-05-31   -1.361556
Freq: D, dtype: float64

In [31]:
print("Date range-first few dates in 2000 year:\n", longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01   -0.027559
2000-01-02    2.429662
2000-01-03    2.117877
2000-01-04    0.626933
2000-01-05   -0.988531
Freq: D, dtype: float64

In [47]:
print("Date range-first 15 dates in 02 month 2000 year:\n", longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2000 year:
 2000-02-01   -1.102664
2000-02-02    0.704930
2000-02-03   -0.755034
2000-02-04    1.096137
2000-02-05   -1.460680
2000-02-06    1.536784
2000-02-07   -0.006480
2000-02-08    0.620345
2000-02-09   -1.484656
2000-02-10    0.035514
2000-02-11    0.122427
2000-02-12    1.065172
2000-02-13   -1.012188
2000-02-14    1.204390
2000-02-15   -0.001000
Freq: D, dtype: float64

In [49]:
print("Date range-from 26-9-2000:\n", longer_ts[datetime(2000, 9, 26):])

Date range-from 26-9-2000:
 2000-09-26   -0.280361
2000-09-27    0.918246
2000-09-28    1.186531
2000-09-29    1.090692
2000-09-30    0.297950
                ...
2002-09-22    1.481935
2002-09-23   -0.953361
2002-09-24    0.025972
2002-09-25    1.452745
2002-09-26   -0.083951
Freq: D, Length: 731, dtype: float64

In [45]:
print("Date range from 26-9-2001 to 25-9-2002:\n", longer_ts[datetime(2001, 9, 26):datetime(2002, 9, 25)])

Date range from 26-9-2001 to 25-9-2002:
 2001-09-26    0.247181
2001-09-27   -1.121850
2001-09-28   -0.652146
2001-09-29    0.659388
2001-09-30    0.323021
                ...
2002-09-21   -0.481961
2002-09-22    1.481935
2002-09-23   -0.953361
2002-09-24    0.025972
2002-09-25    1.452745
Freq: D, Length: 365, dtype: float64